:root {
  scroll-snap-type: y mandatory;

  --background-color: #242424;
  --secondary-background-color: #5B5B5B;
  --tertiary-background-color: #303030;

  --primary-action-color: #FF9D0A;
  --on-primary-action-color: #000000;
  --on-primary-action-color-2: #FFFFFF;

  --secondary-action-color: #8C8C8C;
  --on-secondary-action-color: #FFFFFF;
  
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #CDCDCD;

  --success-color: #8EBF8D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.shadow {
  filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, .25));
}
