.cookieInfo {
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: var(--primary-action-color);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.mobileWarning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: var(--warning-color);
  color: var(--on-warning-color);
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  margin: 0 max(calc((100vw - 1300px) / 2), 30px); /* Horizontal margin set to auto or at least 30px */
  max-width: 1300px;
}

.sideDiagram {
  width: 30%;
}

.videosPerWeek {
  position: fixed;
  top: 0;
  left: max(calc((100vw - 1300px) / 2), 30px); /* Use the same margin as the content */
}

.mainDiagrams {
  width: 70%;
}

.snapContainer {
  scroll-snap-align: start;
}
