.content {
  display: flex;
  margin: 0 max(calc((100vw - 1300px) / 2), 30px); /* Horizontal margin set to auto or at least 30px */
  max-width: 1300px;
}

.sideDiagram {
  width: 30%;
}

.videosPerWeek {
  position: fixed;
  top: 0;
  left: max(calc((100vw - 1300px) / 2), 30px); /* Use the same margin as the content */
}

.mainDiagrams {
  width: 70%;
}

.snapContainer {
  scroll-snap-align: start;
}
