.content {
  display: flex;
  margin: 0 30px;
}

.sideDiagram {
  width: 30%;
}

.videosPerWeek {
  width: calc(0.3 * (100% - 60px)); /* 30% of (full width - horizontal margins)*/
  position: absolute;
  top: 0;
  left: 30px;
}

.mainDiagrams {
  width: 70%;
}

.snapContainer {
  scroll-snap-align: start;
}