.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    margin-bottom: 0.8em;
    font-weight: 600;
    font-size: 1.3em;
    text-wrap: balance;
}
