.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    margin-bottom: 0.4em;
    margin-left: 40px;
    font-weight: 600;
    font-size: 1.5em;
    text-wrap: balance;
}

.legendSvg {
    vertical-align: middle;
    margin-left: 0.2em;
}

.legendSvg text {
    font-weight: 500;
}
