.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.container h2 {
    text-align: end;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 2em;
    text-wrap: balance;
}