.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 50px;
}

.container .left {
  width: auto;
  /* border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; */
}

.container .right h2 {
  font-size: 3em;
  font-weight: 400;
  text-wrap: balance;
  margin-bottom: 0.5em;
}

.container .right h2 em {
  font-style: normal;
  font-weight: 600;
  color: var(--primary-action-color);
}

.container .right .buttons {
  display: flex;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 14px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.shareButton {
  background-color: var(--primary-action-color);
  color: var(--on-primary-action-color);
}

.downloadButton {
  background-color: var(--secondary-action-color);
  color: var(--on-secondary-action-color);
}

.scrollToTopButton {
  position: absolute;
  right: 0;
  bottom: 100px;
  background-color: var(--primary-action-color);
  color: var(--on-primary-action-color);
}
