.uploadArea {
    position: relative;
    background-color: var(--tertiary-background-color);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.uploadArea::before {
    content: "";
    display: block;
    padding-top: calc(1527 / 2383 * 100%);  /* Maintain aspect ratio of image */
}

.dottedRectangle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.errorContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorContainer p {
    color: var(--secondary-background-color);
    width: 80%;
    text-align: center;
}

.errorTitle {
    font-size: 0.9em;
    margin: 1em 0;
}

.errorSubtitle {
    font-size: 0.7em;
    margin-bottom:
}

.errorIcon {
    width: 50px;
    height: auto;
}

.progressBarContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progressBar {
    width: 60%;
    height: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background-color: var(--primary-action-color);
    border-radius: 5px;
}

.progressBarContainer p {
    color: var(--secondary-background-color);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 25px;
}

.uploadIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
}
